<div class="container notifications">
  <h1>Your Bookings!</h1>


  <%# @bookings.each do |booking| %>
  <%#=# booking.chef.name %>
  <%#=# booking.customer.name %>
  <%#=# booking.number_of_guests %>
  <%#=# booking.status %>
  <%#=# link_to "Go see", booking_path(booking)  %>

  <%# if !booking.messages.empty? %>
  <%# booking.messages.each do |message| %>
  <!-- <li><%#= message.content %></li> -->
  <%# end %>
  <%# end %>
  <%# end %>

  <ul>
    <% @bookings.each do |booking| %>
    <li>

      <div class="notification" onclick=document.location="<%= booking_path(booking) %>">
        <%= cl_image_tag booking.chef.profile_picture, class: "avatar notification-content", alt: "avatar" %>
        <div class="notification-content notification-title">
          <p><small><%= booking.chef.name %></small></p>
        </div>

        <div class="notification-content notification-main">
          <p>Meal for <strong><%= booking.number_of_guests %></strong> persons</p>
          <p> Requirements: <%= booking.dietary_requirements %> </p>
        </div>

        <div class="notification-content message-status">
          <p class="status pending"><%= booking.status %></p>
          <p class="price"><%= booking.chef.price %>€ p.p</p>
        </div>


        <div class="notification-actions">
          <a href="#">Confirm <i class="far fa-check-circle"></i></a>
          <a href="#">Refuse <i class="fas fa-ban"></i></a>
        </div>
      </div>
    </li>
    <% end %>
  </ul>



</div>
