<div class="container">
<h1>Book <%= @chef.name %></h1>


      <%= simple_form_for [@user, @booking] do |f| %>
        <%= f.input :number_of_guests %>
        <%= f.input :dietary_requirements %>
        <%= f.hidden_field :chef_id %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
</div>
