<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3\">
      <h2>Create a Chef account</h2>

      <%= simple_form_for @user do |f| %>
      <%= f.input :profile_picture, :label => 'Upload a profile picture' %>
      <%= f.input :profile_picture_cache, as: :hidden %>
      <%= f.input :cuisine, :label => 'What cuisine do you offer?' %>
      <%= f.input :qualification, :label => 'Specify your qualification' %>
      <%= f.input :short_bio, :label => 'Please include a short bio of yourself including your experience and any specialities' %>
      <%= f.input :price, :label => 'Average pricing per person' %>
      <%= f.button :submit, 'Create profile!' %>
      <% end %>
    </div>
  </div>
</div>
