
<div class="container">
<h2>Book your next Meal</h2>

<div class="notification search">
<!--   <a class="fas fa-search"></a>
 -->  <div class="notification-content search">
<%= form_tag users_path, method: :get do %>

    <%= label_tag(:q, "Chef's speciality:") %>
  <% cuisines = ["","Thai", "Italian","French","Mexican", "Indian", "Japanese"] %>
  <%= select_tag "query", options_for_select(cuisines, @query) %>

   <%= label_tag(:q, 'for less than')%>

  <% price = ["", 50, 75, 100] %>
  <%= select_tag "price", options_for_select(price, @price)%>
  <%= label_tag(:q, "€") %>


  <%= submit_tag "Search", class: "btn btn-primary"%>
  <%= link_to "Remove filter", users_path, class: "btn btn-primary"%>
  <% end %>
</div>

  </div>
<ul class="cards meal">
 <% @chefs.each do |chef| %>
  <li class="cards__item" onclick=document.location="<%= user_path(chef.id) %>">
    <div class="card meal" >
      <div class="card__image" style="background-image:
         url('<%= chef.image1.file.nil? ? 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZi4qr9ACGRBaTtlIrqpOJQwly1cKXQHGXenD6XZBfAEWUlwcD' : cl_image_path(chef.image1) %>')">
         <p class="card__text"></p></div>
      <div class="card__content">
        <div class="card__title"><%= chef.name %> | <%= chef.cuisine %>

          <div class="card__titlee">price :$<%= chef.price %></div>
          <!-- <a class="card-link" href="#" ><%=user_path(chef)%></a> -->
        </div>

        <!-- <p class="card__text"><%= chef.cuisine %></p> -->
        <!-- <h3>$<%= chef.price %></h3> -->
        <!-- <button class="btn btn--block card__btn">hi,there</button> -->
        <% if @chefs.empty? %>
        <h2> No chefs </h2>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
</div>
