
  <%= form_tag users_path, method: :get do %>
 <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a chef"%>
  <%= label_tag(:q, "Chef's speciality:") %>
  <% cuisines = ["","Thai", "Italian","French","Mexican", "Indian", "Japanese"] %>

  <%= select_tag "query", options_for_select(cuisines) %>
  <%= submit_tag "search"%>
  <% end %>
  <%= link_to "See all chefs", users_path, class: "btn btn-primary"%>


  <% if user_signed_in? %>
  <%= link_to "log-out", destroy_user_session_path, method: :delete %>
  <% end %>

<div class="container">
<h2>Book your next Meal</h2>
<ul class="cards meal">
 <% @chefs.each do |chef| %>
  <li class="cards__item">
    <div class="card meal" >
      <div class="card__image card__image--fence"><p class="card__text"></p></div>
      <div class="card__content">
        <div class="card__title"><%= chef.name %> | <%= chef.cuisine %>

          <div class="card__titlee">price :$<%= chef.price %></div>
          <!-- <a class="card-link" href="#" ><%=user_path(chef)%></a> -->
        </div>

        <!-- <p class="card__text"><%= chef.cuisine %></p> -->
        <!-- <h3>$<%= chef.price %></h3> -->
        <!-- <button class="btn btn--block card__btn">hi,there</button> -->
        <% if @chefs.empty? %>
        <h2> No chefs </h2>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
</div>
