<h1>Create an account!</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, :label => 'Username' %>
  <%= f.input :email, :label => 'Email' %>
  <%= f.input :encrypted_password, :label => 'Password', :hint => 'More complex passwords increase your security' %>
  <%= f.input :profile_picture, :label => 'Upload a profile picture' %>
  <%= f.input :profile_picture_cache, as: :hidden %>

  <%= f.input :qualification, :label => 'Specify your qualification' %>
  <%= f.input :short_bio, :label => 'Please include a short bio of yourself including your experience and any specialities' %>
  <%= f.input :cuisine, :label => 'What cuisine do you offer?' %>
  <%= f.input :price, :label => 'Average pricing per person' %>
  <%= f.button :submit, 'Create profile!' %>

<% end %>
