<div class="container chef-profile">
  <h1 class="chef-name"><%= @user.name %></h1>

  <div class="row chef-block">
   <!--  <p class="chef-name"><%= @user.name %></p> -->
   <div class="col-sm-2">
    <div class="show_page_pic"><%= cl_image_tag @user.profile_picture %>
    </div>
    </div>

    <div class="col-sm-4 credentials">
      <p>Price | €<%= @user.price %> <i class="fas fa-user"></i>
      </p>
      <p>Cuisine | <%= @user.cuisine %></p>
      <p>Qualifications | <%= @user.qualification %></p>
    </div>

    <div class="col-sm-6">
      <div class="short-bio"><%= @user.short_bio %></div>
      <div class="btn-flat"><%= link_to "Book", new_user_booking_path(@user) %> </div>
    </div>
  </div>

  <!-- </div> -->
  <div class="row">
    <div class="profile col-sm-12 ">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-image: url('<%= cl_image_path @user.image1%>')">
          </div>
          <div class="item" style="background-image: url('<%= cl_image_path @user.image2%>')">
          </div>
          <div class="item" style="background-image: url('<%= cl_image_path @user.image3%>')">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>



